DISCORD_TOKEN=your_discord_bot_token_here

MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/taskdb?retryWrites=true&w=majority

GUILD_ID=your_development_server_id_here

GEMINI_API_KEY=your_gemini_api_key_here

